.tab-container{
    display: block;
}

.tab-contents{
    background-color: yellow;
    border-top: none;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;



}

.tab-page{
    display: none;
}

.tab-page-visible{
    display: block;
}

.tab-buttons-bar{
    background-color: pink;
}

.tab-button{
    background-color: blue;
    display: inline;

    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-top: 1px black solid;
        

}

.tab-button-selected{
    background-color: yellow;
    border-bottom: none;

}
