.tab-container{
    display: block;
}

.tab-contents{
    background-color: #f0f0f0;
    border-top: none;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    display: block;

    margin-top: 0.0em;
    padding-top: 0.1em;

    z-index: 5;
}

.tab-page{
    display: none;
}

.tab-page-visible{
    display: block;
}

.tab-buttons-bar{
    display : block;
    padding-bottom: 1px;
    border-bottom: 1px black solid;
}

.tab-button{
    background-color: #b0b0b0;
    display: inline;

    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-top: 1px black solid;

    padding: 0.1em;

    margin-right : 0.1em;

    padding-bottom: 1.5px;
}

.tab-button-selected{
    background-color: #f0f0f0;
    border-bottom: 1px #f0f0f0 solid;
    z-index: 10;
}
